.spin svg {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.icon svg {
  width: 1em;
  height: 1em;
  vertical-align: middle; }

.icon.top svg {
  vertical-align: top; }

.icon.middle svg {
  vertical-align: middle; }

.checkbox-wrapper,
.radio-wrapper {
  cursor: pointer;
  padding-left: 1.5em; }
  .checkbox-wrapper *,
  .radio-wrapper * {
    cursor: inherit; }
  .checkbox-wrapper .checkbox-box, .checkbox-wrapper .radio-box,
  .radio-wrapper .checkbox-box,
  .radio-wrapper .radio-box {
    margin-left: -1.5em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    -webkit-transition: background-color 0.5s, border-color 0.5s;
    transition: background-color 0.5s, border-color 0.5s;
    border-radius: 20%;
    border: 0.15em solid rgba(0, 0, 0, 0.54);
    background-color: white;
    text-align: center; }
    .checkbox-wrapper .checkbox-box.unchecked, .checkbox-wrapper .radio-box.unchecked,
    .radio-wrapper .checkbox-box.unchecked,
    .radio-wrapper .radio-box.unchecked {
      color: transparent; }
    .checkbox-wrapper .checkbox-box.checked, .checkbox-wrapper .radio-box.checked,
    .radio-wrapper .checkbox-box.checked,
    .radio-wrapper .radio-box.checked {
      color: white;
      background-color: rgba(255, 87, 34, 0.87);
      border-color: rgba(255, 87, 34, 0.87); }
    .checkbox-wrapper .checkbox-box.indeterminated, .checkbox-wrapper .radio-box.indeterminated,
    .radio-wrapper .checkbox-box.indeterminated,
    .radio-wrapper .radio-box.indeterminated {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.54); }
  .checkbox-wrapper .radio-box,
  .radio-wrapper .radio-box {
    border-radius: 100%; }
  .checkbox-wrapper:hover .checkbox-box.indeterminated, .checkbox-wrapper:hover .radio-box.indeterminated,
  .radio-wrapper:hover .checkbox-box.indeterminated,
  .radio-wrapper:hover .radio-box.indeterminated {
    color: rgba(255, 87, 34, 0.87); }
  .checkbox-wrapper:hover .checkbox-box.unchecked, .checkbox-wrapper:hover .checkbox-box.indeterminated, .checkbox-wrapper:hover .radio-box.unchecked, .checkbox-wrapper:hover .radio-box.indeterminated,
  .radio-wrapper:hover .checkbox-box.unchecked,
  .radio-wrapper:hover .checkbox-box.indeterminated,
  .radio-wrapper:hover .radio-box.unchecked,
  .radio-wrapper:hover .radio-box.indeterminated {
    border-color: rgba(255, 87, 34, 0.87); }
  .checkbox-wrapper:hover .checkbox-box.checked, .checkbox-wrapper:hover .radio-box.checked,
  .radio-wrapper:hover .checkbox-box.checked,
  .radio-wrapper:hover .radio-box.checked {
    background-color: rgba(255, 126, 85, 0.87);
    border-color: rgba(255, 126, 85, 0.87); }
  .checkbox-wrapper[disabled],
  .radio-wrapper[disabled] {
    cursor: not-allowed; }
    .checkbox-wrapper[disabled] .checkbox-box.unchecked, .checkbox-wrapper[disabled] .radio-box.unchecked,
    .radio-wrapper[disabled] .checkbox-box.unchecked,
    .radio-wrapper[disabled] .radio-box.unchecked {
      color: transparent;
      border-color: rgba(0, 0, 0, 0.38) !important; }
    .checkbox-wrapper[disabled] .checkbox-box.checked, .checkbox-wrapper[disabled] .radio-box.checked,
    .radio-wrapper[disabled] .checkbox-box.checked,
    .radio-wrapper[disabled] .radio-box.checked {
      color: white;
      background-color: rgba(0, 0, 0, 0.38) !important;
      border-color: transparent !important; }
    .checkbox-wrapper[disabled] .checkbox-box.indeterminated, .checkbox-wrapper[disabled] .radio-box.indeterminated,
    .radio-wrapper[disabled] .checkbox-box.indeterminated,
    .radio-wrapper[disabled] .radio-box.indeterminated {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.54);
      border-color: rgba(0, 0, 0, 0.38) !important; }

input, button, textarea {
  outline: 0 !important; }

body {
  background-color: #fafbfc;
  background-image: url(http://adriencastex.fr/public/icons/bg.cc.svg);
  background-size: 50px 50px;
  font-family: 'Open Sans', sans-serif; }

body > nav, footer {
  font-family: 'Roboto Condensed', sans-serif; }

body > nav {
  color: black;
  fill: black;
  background-color: #fff;
  padding: 10px;
  padding-left: 10%;
  padding-right: 10%; }
  body > nav .logo svg {
    width: 4rem;
    height: 4rem; }
  body > nav .brand-name {
    font-size: 2.5rem; }
  body > nav .brand {
    display: inline-block;
    padding-right: 30px; }
  body > nav .brand:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 30px; }
  body > nav .search {
    float: right;
    margin-top: 1rem; }
    body > nav .search > * {
      padding-top: 3px;
      padding-bottom: 3px;
      border: 1px solid #e1e4e8;
      border-radius: 5px;
      font-size: 1.2rem;
      background-color: white; }
      body > nav .search > *:not(:first-child) {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        border-left: 0px; }
      body > nav .search > *:not(:last-child) {
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border-right: 0px; }
    body > nav .search .btn {
      border-left: 1px dashed #e1e4e8;
      vertical-align: bottom; }
      body > nav .search .btn:hover {
        background-color: #f2f2f2; }
    body > nav .search input {
      padding-right: 10px;
      padding-left: 10px;
      display: inline-block;
      vertical-align: bottom; }

main {
  background-color: white;
  padding-bottom: 30px; }
  main .exercice .header {
    background-image: url(http://adriencastex.fr/public/icons/bg.cc.svg);
    background-size: 50px 50px;
    background-color: #f7f8fa;
    border-top: 1px solid #e1e4e8;
    border-bottom: 1px dashed #e1e4e8;
    padding: 10px;
    margin-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%; }
    main .exercice .header .undefined {
      color: #555;
      fill: #555; }
    main .exercice .header .dates {
      float: right; }
    main .exercice .header .url {
      text-align: center; }
      main .exercice .header .url > * {
        padding-top: 3px;
        padding-bottom: 3px;
        border: 1px solid #e1e4e8;
        border-radius: 5px;
        font-size: 1.2rem;
        background-color: white; }
        main .exercice .header .url > *:not(:first-child) {
          border-bottom-left-radius: 0px;
          border-top-left-radius: 0px;
          border-left: 0px; }
        main .exercice .header .url > *:not(:last-child) {
          border-bottom-right-radius: 0px;
          border-top-right-radius: 0px;
          border-right: 0px; }
      main .exercice .header .url .btn {
        border-right: 1px dashed #e1e4e8;
        vertical-align: bottom; }
        main .exercice .header .url .btn:hover {
          background-color: #f2f2f2; }
      main .exercice .header .url .value {
        padding-right: 10px;
        padding-left: 10px;
        cursor: pointer;
        resize: none;
        display: inline-block;
        vertical-align: bottom; }
  main .exercice .body {
    padding-left: 10%;
    padding-right: 10%; }
  main .exercice samp {
    border: 1px solid #ccc;
    background-color: #F5F5F5;
    border-radius: 4px;
    padding: 5px; }
  main .exercice .user-script {
    border: 1px solid #ccc;
    background-color: #F5F5F5;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px; }
    main .exercice .user-script > .row .path {
      color: #666;
      font-weight: normal;
      font-style: italic; }
    main .exercice .user-script ul {
      border-top: 1px dotted gainsboro;
      padding-top: 10px;
      margin-top: 5px; }
    main .exercice .user-script:not(:first-child) {
      border-top: 0px;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px; }
    main .exercice .user-script:not(:last-child) {
      border-bottom-style: dashed;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px; }
  main .exercice .test-wrapper {
    position: relative; }
    main .exercice .test-wrapper .run-btn {
      position: absolute;
      right: 0px;
      top: 0px; }
  main .exercice .tab-content {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0px;
    display: inline-block;
    width: 100%; }

footer {
  text-align: center;
  color: #9aafc3;
  fill: #9aafc3;
  border-top: 1px dashed #e1e4e8;
  padding-top: 40px;
  padding-bottom: 40px; }
  footer .icon {
    font-size: 4em; }
